#bootloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 1s;
    background-image: url('textures/loading1.jpg'); /* Initial image */
}

#hud {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    font-family: Arial;
    text-shadow: 2px 2px 3px black;
    pointer-events: none;
}

.custom-cursor {
    position: absolute;
    width: 220px;
    height: 96px;
    background: url('textures/ORDINARY!.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}
