/* Bootloader styling */
#bootloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('textures/loading.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 1s;
}

#loading-bar {
    width: 100%; /* Full width */
    height: 30px; /* Increased height for visibility */
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid cyan;
    position: absolute; /* Positioned absolute */
    bottom: 20px; /* Distance from bottom */
    overflow: hidden;
    border-radius: 15px; /* Rounded corners */
}

#loading-progress {
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, cyan, blue); /* Dynamic gradient */
    position: absolute;
    transition: width 0.3s;
    border-radius: 15px; /* Rounded corners for progress */
}

/* HUD and Game Title */
#game-title {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: cyan;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}
#hud {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid cyan;
    padding: 8px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 14px;
}

/* Video styling */
#loading-video {
    position: absolute;
    top: 20px; /* Distance from top */
    right: 20px; /* Distance from right */
    width: 200px; /* Set width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1001; /* Ensure it's above the bootloader */
}
